body{
	background-color:black;
	color:white;
	box-sizing: border-box;
	text-align: center;
	background-image: url("../images/colorbk.png");
	font-family: 'Cabin', sans-serif;
	letter-spacing: 2px;
	background-repeat: no-repeat;
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
	letter-spacing: 5px;
	font-size: 5em;
	font-family: 'Chonburi', cursive;
}
p, div{
	margin: 0 0 15px 0;
	text-shadow:0 0 8px #000;
}

.list-group-item{
	background-color:black; 
	text-align: left;
}

.btn-block{
	background: rgb(142,50,255);
background: -webkit-linear-gradient(left, rgba(142,50,255,1) 0%, rgba(79,49,247,1) 14%, rgba(0,84,219,1) 24%, rgba(8,191,201,1) 35%, rgba(7,198,58,1) 46%, rgba(93,224,0,1) 53%, rgba(220,224,0,1) 62%, rgba(247,239,19,1) 69%, rgba(255,178,0,1) 78%, rgba(255,106,0,1) 87%, rgba(221,0,3,1) 100%);
background: -o-linear-gradient(left, rgba(142,50,255,1) 0%, rgba(79,49,247,1) 14%, rgba(0,84,219,1) 24%, rgba(8,191,201,1) 35%, rgba(7,198,58,1) 46%, rgba(93,224,0,1) 53%, rgba(220,224,0,1) 62%, rgba(247,239,19,1) 69%, rgba(255,178,0,1) 78%, rgba(255,106,0,1) 87%, rgba(221,0,3,1) 100%);
background: linear-gradient(to right, rgba(142,50,255,1) 0%, rgba(79,49,247,1) 14%, rgba(0,84,219,1) 24%, rgba(8,191,201,1) 35%, rgba(7,198,58,1) 46%, rgba(93,224,0,1) 53%, rgba(220,224,0,1) 62%, rgba(247,239,19,1) 69%, rgba(255,178,0,1) 78%, rgba(255,106,0,1) 87%, rgba(221,0,3,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e32ff', endColorstr='#dd0003',GradientType=1 );

border-color:black;
color:black;
}

img{
	margin-bottom: 20px;
}