      body {
        background-color: #efee7;
        font-family:"Georgia","Times New Roman","Times",serif;
        color: #333333;
        margin: 0;
        padding: 0;
      }
      header{
        background-color: #333333;

        }
      h1{
        padding: 20px;
        color:#eee;
        font-size: 28px;
        text-align:center;
        margin:0px;
      }
      h2{
        font-size: 24px;
        margin:20px;
        font-weight:bold;
      }
      .container{
        width:1024px;
        margin: 0 auto;
      }

      #main-bio{
        width: 70%;
        float:left;
      }
      #contact-info{
        width: 30%;
        float:left;
        line-height: 1.5;
      }
      #bio-image{
        width: 200px;
        height: 200px;
        float:left;
        margin-right:10px;
      }
      a{
        color:#d21034;
      }