*{
	text-align: center;
}
body{
	background-image: url("../images/confectionary.png");
}
input{
	width:75%;
	border-color:rgb(134,189,248);
}

.btn-xs{
	width:100%;
	background-color: transparent;
	border: 0px solid #eee;
}
#gamePlay button{
	width:100%;
}

#player1, #player2{
	border: 2px solid;
	border-radius:10px;
}
.panel-body{
	text-align: left;
}
.row{
	margin-bottom: 1%;
}
span{
	margin-left:5px;
	justify-content: right;
}

#chat-display{
	text-align: left;
	/*border:2px solid black;*/
	min-height: 50px;
	margin: 10px 0;
	padding-left: 15px;
}
div{
	text-align: left;
}

#roundResult{
	border: 2px solid black;
	min-height:100px;
	border-radius:10px;
}

#roundResult div{
	text-align:center;
	font-style:italic;
	font-size:20px;
}
#instruction{
	text-align: center;
}

h2{
	font-size: 3em;
}

.noturn{
	border-color:black;
}
.yourturn{
	border-color:rgb(255,201,85) !important;
	box-shadow:0 0 20px rgb(255,174,0);
}

.jumbotron{
	background-color:rgb(96,24,163);
	color:white;
}

.panel{
	border-color:rgb(134,189,248) !important;
}
.panel-heading{
	background-color:rgb(134,189,248) !important;
	
}

.player1msg{
	color:rgb(38,112,28);

}

.player2msg{
	color:rgb(134,70,11);

}

i{
	font-style: italic;
}

.lead{
	text-shadow:0 0 10px rgb(255,168,168);
	font-size:30px;
}
